{% load staticfiles %}



<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">



    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/pintadoBarra.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


    <title></title>
  </head>

  <body>

  <h1>Evento - evento.nombre - evento.año - evento.mes</h1>

  <p>Lunes</p>
  <div class="container">
    <div class="skills lunes">15%</div>
  </div>

  <p>Martes</p>
  <div class="container">
    <div class="skills martes">80%</div>
  </div>

  <p>Miércoles</p>
  <div class="container">
    <div class="skills miercoles">65%</div>
  </div>

  <p>Jueves</p>
  <div class="container">
    <div class="skills jueves">60%</div>
  </div>

  <p>Viernes</p>
  <div class="container">
    <div class="skills viernes">60%</div>
  </div>

  <p>Sábado</p>
  <div class="container">
    <div class="skills sabado">60%</div>
  </div>

  <p>Domingo</p>
  <div class="container">
    <div class="skills domingo">60%</div>
  </div>

  </body>



</html>
